<h1>New Comment</h1>
<div class='columns small-8 callout'>
<%= form_for([@concert, @comment], html: { class: 'form'}) do |f| %>

  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h4>

      <ul>
        <% @comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="columns small-8">
    <%= f.label :text %>
    <%= f.text_field :text %>
  </div>

  <div class="columns small-4">
    <%= f.submit %>
  </div>
<% end %>
</div>


<%= link_to 'Back', concert_path(@concert) %>
